# Rust (Tauri)
/target/
**/*.rs.bk
Cargo.lock
/Cargo.lock
/.cargo/
/src-tauri/target/
/src-tauri/Cargo.lock
/src-tauri/.cargo/
/src-tauri/gen/schemas

# Node.js (React)
node_modules/
*.log
.npm/
.pnp/
.pnp.js



# Testing
/coverage/
*.lcov

# Build
/dist/
/build/
/out/

# Misc
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Environment Variables
.env
.env.local
.env.development
.env.production
.env.test
.env.ci



# Tauri Bundled Artifacts
/src-tauri/bundled/
